body {
    background-color: pink;
    margin: 0;
    padding: 0;
}


.navbar {
    width: 100%;
    height: 60px;
    background-color: #ffe6f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    color: #ff4d79;
    font-weight: bold;
}


.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff4d79;
}


.icons {
    font-size: 22px;
    display: flex;
    gap: 20px;
}

.icons i:hover {
    color: #ff4d79;
}


.page {
    position: relative;
    padding: 80px 50px;
}


h3 {
    font-size: 50px;
    margin-bottom: 10px;
}

h4 {
    font-size: 30px;
    color: #ff4d79;
    margin-top: 0;
}


.desc {
    width: 450px;
    font-size: 16px;
    margin-top: 20px;
}
